<div class="container">
        <table class="table table-striped">
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>SSN Last 4</th>
             </tr>
              <tr>
                <td><%= @client.first_name %></td>
                <td><%= @client.last_name %></td>
                <td><%= @client.last_four %></td>
              </tr>
        </table>
        <%= link_to "Back", root_path %>
        <%= link_to "Edit", edit_client_path %>
        <%= link_to "Delete client", client_path(@client), method: :delete, data: { confirm: "are you want to delete this client?" }%>
</div>     



